{% extends 'backend/user/layout.html' %}
{% load static %}

{% block styles %}
{% endblock styles %}

{% block title %}
  Первая активность
{% endblock title %}


{% block header %}
  Первая активность
{% endblock header %}


{% block scripts %}
{% endblock scripts %}

{% block content %}
  
    <h1>Первая активность</h1>
    <p>Здесь информация о первой активности.</p>
    <a href="сайт.html">Назад</a>

{% endblock content %}

{% block footer %}

{% endblock footer %}
  

