{% load static %}

<!DOCTYPE html>
<html lang="en">
  
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
        {% block styles %}
        {% endblock styles %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <title>
    {% block title %}
    {% endblock title %}
  </title>
</head>

<body>
  <div class="main">
    <div class="header">

    </div>

    <div class="content">
      <form action="">
        <img src="{% static 'backend/img/Status Bar - iPhone.svg' %}" alt="Верх" class="header-image">

        <div class="header-container">
          <a href="edit-groups.html"> <!-- Укажите ссылку на нужную страницу -->
            <img src="{% static 'backend/img/стрелочка.svg' %}" alt="стрелочка" class="arrow-image">
          </a>
          <div class="stimul_zag">Стимулирование педагогов</div>
        </div>

        <!-- Горизонтальная линия под заголовком -->
        <hr class="divider">
        {% block content %}
        {% endblock content %}
        <div class="image-container">
          <a href="pers-act.html">
            <img src="{% static 'backend/img/Pers-act.svg' %}" alt="Первая" class="responsive-image">
          </a>
          <a href="home-def.html">
            <img src="{% static 'backend/img/home-def.svg' %}" alt="Вторая" class="responsive-image">
          </a>
          <a href="статистика.html">
            <img src="{% static 'backend/img/statistics-def.svg' %}" alt="Третья" class="responsive-image">
          </a>
          <a href="рейтинг.html">
            <img src="{% static 'backend/img/rating-def.svg' %}" alt="Четвертая" class="responsive-image">
          </a>
        </div>
      </form>
      {% block scripts %}
      {% endblock scripts %}
</body>

</html>
