{% extends 'backend/user/layout.html' %}
{% load static %}

{% block styles %}
      <link rel="stylesheet" href="{% static 'backend/css/user/начало.css' %}">
{% endblock styles %}

{% block title %}
  Стимулирование педагогов
{% endblock title %}


{% block header %}
  Стимулирование педагогов
{% endblock header %}


{% block scripts %}
  <script src="{% static 'backend/js/user/начало.js' %}"></script>
{% endblock scripts %}

{% block content %}
  
            <div class="raschet">
                <a class="redact_gr" href="#" contentEditable="true">Критерий 1</a>
                <div class="counter">
                    <button class="decrement" type="button">-</button>
                    <span class="count">0</span>
                    <button class="increment" type="button">+</button>
                </div>
            </div>
            <div class="file-upload">
                <input type="file" class="fileInput" style="display: none;" /> <!-- Уникальный input для файлов -->
                <button class="uploadButton" type="button">Загрузить файл</button>
            </div>
            <div id="uploadSuccess" class="notification" style="display: none;">Файл успешно загружен!</div>
            
            <div class="raschet">
                <a class="redact_gr" href="#" contentEditable="true">Критерий 2</a>
                <div class="counter">
                    <button class="decrement" type="button">-</button>
                    <span class="count">0</span>
                    <button class="increment" type="button">+</button>
                </div>
            </div>
            <div class="file-upload">
                <input type="file" class="fileInput" style="display: none;" /> <!-- Уникальный input для файлов -->
                <button class="uploadButton" type="button">Загрузить файл</button>
            </div>
            <div id="uploadSuccess" class="notification" style="display: none;">Файл успешно загружен!</div>
            
            <div class="raschet">
                <a class="redact_gr" href="#" contentEditable="true">Критерий 3</a>
                <div class="counter">
                    <button class="decrement" type="button">-</button>
                    <span class="count">0</span>
                    <button class="increment" type="button">+</button>
                </div>
            </div>
            <div class="file-upload">
                <input type="file" class="fileInput" style="display: none;" /> <!-- Уникальный input для файлов -->
                <button class="uploadButton" type="button">Загрузить файл</button>
            </div>
            <div id="uploadSuccess" class="notification" style="display: none;">Файл успешно загружен!</div>
            
            <!-- Новый элемент для отображения суммы -->
            <div id="totalCount" class="upload-success" style="display: none;"></div>
            
            <!-- Кнопка для сохранения изменений -->
            <button id="saveButton" type="button">Сохранить изменения</button>
            
            <!-- Плашка для сообщения о сохранении -->
            <div id="saveSuccess" class="upload-success" style="display: none;">Изменения сохранены!</div>
            
            <div id="uploadedFiles"></div> <!-- Контейнер для загруженных файлов (можно удалить если не нужен) -->
            
            
            
            <div id="uploadedFiles"></div> 
            

{% endblock content %}

{% block footer %}
  
          <div class="image-container">
          <a href="{% url 'index'  %}">
            <img src="{% static 'backend/img/Pers-act.svg' %}" alt="Первая" class="responsive-image">
          </a>
          <a href="{% url 'home_def' %}">
            <img src="{% static 'backend/img/home-def.svg' %}" alt="Вторая" class="responsive-image">
          </a>
          <a href="{% url 'statistics'  %}">
            <img src="{% static 'backend/img/statistics-def.svg' %}" alt="Третья" class="responsive-image">
          </a>
          <a href="{% url 'rating'  %}">
            <img src="{% static 'backend/img/rating-def.svg' %}" alt="Четвертая" class="responsive-image">
          </a>
        </div>

{% endblock footer %}
  
