{% extends 'backend/user/layout.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'backend/css/user/рейтинг.css' %}">
{% endblock styles %}

{% block title %}
  Рейтинг
{% endblock title %}

{% block header %}
  Рейтинг
{% endblock header %}


{% block scripts %}
{% endblock scripts %}

{% block content %}
           <table>
             <thead>
                   <tr>
                      <td>ФИО</td>
                      {% for teacher in teachers %}
                        <td>{{ teacher.name }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                      <td>Средний балл по успеваемости</td>
                      {% for teacher in teachers %}
                        <td>{{ teacher.average }}</td>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                      <td>Количество курсов, пройденных педагогами</td>
                      {% for teacher in teachers %}
                        <td>{{ teacher.courses_amount }}</td>
                      {% endfor %}
                    </tr>
                    <tr>
                      <td>Число полученных положительных отзывов </td>
                      {% for teacher in teachers %}
                        <td>{{ teacher.reviews_amount }}</td>
                      {% endfor %}
                    </tr>
                      <td>Итог</td>
                      {% for teacher in teachers %}
                        <td>{{ teacher.total }}</td>
                      {% endfor %}
                    </tr>
                </tbody>
            </table>
            <div class="raschet">
                <a  class="redact_gr">Выгрузить в Exel</a>
            </div>
            
{% endblock content %}

{% block footer %}

          <div class="image-container">
          <a href="{% url 'index'  %}">
            <img src="{% static 'backend/img/pers-def.svg' %}" alt="Первая" class="responsive-image">
          </a>
          <a href="{% url 'home_def' %}">
            <img src="{% static 'backend/img/home-def.svg' %}" alt="Вторая" class="responsive-image">
          </a>
          <a href="{% url 'statistics'  %}">
            <img src="{% static 'backend/img/statistics-def.svg' %}" alt="Третья" class="responsive-image">
          </a>
          <a href="{% url 'rating'  %}">
            <img src="{% static 'backend/img/rating-act.svg' %}" alt="Четвертая" class="responsive-image">
          </a>
        </div>

{% endblock footer %}
