{% extends 'backend/user/layout.html' %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'backend/css/user/статистика.css' %}">
{% endblock styles %}

{% block title %}
  Статистика
{% endblock title %}

{% block header %}
  Статистика
{% endblock header %}


{% block scripts %}
{% endblock scripts %}

{% block content %}
  <table id="data-table">
    <thead>
      <tr>
        <th>Критерий</th>
        {% for period in periods %}
          <th>{{ period.title }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Кол-во проведенных уроков</td>
        {% for period in periods %}
          <td>{{ period.lessons_amount }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td>Средний балл успеваемости</td>
        {% for period in periods %}
          <td>{{ period.average }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td>Кол-во курсов, пройденных педагогами</td>
        {% for period in periods %}
          <td>{{ period.courses_amount }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td>Число положительных отзывов</td>
        {% for period in periods %}
          <td>{{ period.reviews_amount }}</td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
  
  <div class="raschet">
    <a id="exportToExcel" href="#" class="redact_gr">Выгрузить в Excel</a>
  </div>

{% endblock content %}

{% block footer %}

  <div class="image-container">
    <a href="{% url 'index'  %}">
      <img src="{% static 'backend/img/pers-def.svg' %}" alt="Первая" class="responsive-image">
    </a>
    <a href="{% url 'home_def' %}">
      <img src="{% static 'backend/img/home-def.svg' %}" alt="Вторая" class="responsive-image">
    </a>
    <a href="{% url 'statistics'  %}">
      <img src="{% static 'backend/img/statistics-act.svg' %}" alt="Третья" class="responsive-image">
    </a>
    <a href="{% url 'rating'  %}">
      <img src="{% static 'backend/img/rating-def.svg' %}" alt="Четвертая" class="responsive-image">
    </a>
  </div>

{% endblock footer %}
