body {
    font-family: 'Mulish', sans-serif; /* Устанавливаем Mulish как основной шрифт */
}

@media all and (min-width: 375px) {
    .main {
        width: 375px;
        height: 812px; 
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        border: 2px solid #109a20; 
        border-radius: 8px; 
    }

    .header-image {
        width: 100%; /* Занимает всю ширину верхней границы */
        margin-top: 0px;
        height: auto; /* Автоматическая высота для сохранения пропорций */
    }
    
    .header-container {
        display: flex; /* Используем flex для выравнивания */
        align-items: center; /* Выравнивание по вертикали */
        margin: 10px; /* Отступы сверху и снизу */
    }

    .stimul_zag {
        font-size: 20px; /* Размер шрифта для заголовка */
        margin-left: 10px; /* Отступ между стрелочкой и текстом */
    }

    .arrow-image {
        width: 30px; /* Укажите размер стрелочки по вашему усмотрению */
        height: auto; /* Сохраняем пропорции */
        position: absolute; /* Абсолютное позиционирование */
        margin-left: -50px;
    }
    .divider {
        display: flex;
        border: none; /* Убираем стандартные границы */
        border-top: 2px solid #e9e9e9; /* Устанавливаем верхнюю границу */
        margin: 0px; /* Отступы сверху и снизу */
        width: 100%; /* Ширина линии */
        margin-bottom: 35px;
    }

    .redact_gr {
        background-color: rgb(76, 175, 80); /* Зеленый цвет кнопки */
        color: white; /* Белый цвет шрифта */
        border: none; /* Убираем рамку */
        padding: 10px; /* Поля внутри кнопки */
        text-align: center; /* Центрируем текст */
        text-decoration: none; /* Убираем подчеркивание */
        display: inline-flex; /* Используем flex для выравнивания */
        justify-content: center; /* Центрируем содержимое по горизонтали */
        align-items: center; /* Центрируем содержимое по вертикали */
        width: 335px; /* Фиксированная ширина кнопок */
        height: 30px; /* Фиксированная высота кнопок */
        font-size: 14px; /* Размер шрифта */
        margin: 50px; /* Отступы вокруг кнопки */
        cursor: pointer; /* Курсор при наведении */
        border-radius: 5px; /* Скругление углов */
        font-family: 'Mulish', sans-serif;
    }

    /* Эффект при наведении на кнопку */
    .redact_gr:hover {
        background-color: #45a049; /* Более темный зеленый при наведении */
    }

    .content {
        margin: 2px; /* Пример отступа вокруг контента */
        
    }

    .image-container {
        display: flex; /* Используем Flexbox */
        justify-content: space-around; /* Распределяем изображения по горизонтали */
        margin: 0px; /* Отступ сверху и снизу */
    }

    .responsive-image {
        max-width: 90px; /* Ограничиваем ширину изображения */
        height: auto; /* Обеспечиваем пропорциональность */
        margin: 0px; /* Отступы между изображениями */
    }

    
    .content>form{
        display: flex;
        flex-direction: column;
        height: 368px;
        justify-content: space-around;
        align-items: center;
    }










    .wrapper>div{

        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .wrapper>div a{
        text-decoration: none;
        color: #000;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 0px;
        margin-left: 15px;
    }
    #check-menu{
        display: none;
    }
    label{
        width: 30px;
        height: 63px;
        background-image: url(../img/burger_menu_mobil.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    #check-menu:checked~.wrapper{
        width: 320px;
        height: 450px;
        font-size: 20px;
    }
    #check-menu:checked~.wrapper>div a{
        font-size: 16px;
    }
    .h {
        margin-top: 10px;
    }
}