{% extends 'backend/user/layout.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'backend/css/admin/общая-таблица.css' %}">
{% endblock styles %}

{% block title %}
Рейтинг. Общая таблица
{% endblock title %}

{% block header %}
Рейтинг. Общая таблица
{% endblock header %}


{% block scripts %}
{% endblock scripts %}

{% block content %}
            <table>
                <thead>
                    <tr>
                        <td>ФИО</td>
                        <td>Петрова А.М.</td>
                        <td>Щавровая П.К.</td>
                        <td>Чадаева С.Т.</td>
                        <td>Хужаев У.С.</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Предмет</td>
                        <td>Рус.яз.</td>
                        <td>Информ.</td>
                        <td>Матем.</td>
                        <td>Лит-ра</td>
                    </tr>
                    <tr>
                        <td>Кол-во  уроков</td>
                        <td>210</td>
                        <td>200</td>
                        <td>170</td>
                        <td>150</td>
                    </tr>
                    <tr>
                        <td>Средний балл </td>
                        <td>4,8</td>
                        <td>4,96</td>
                        <td>3,7</td>
                        <td>3,5</td>
                    </tr>
                    <tr>
                        <td>Кол-во пройденных курсов</td>
                        <td>8</td>
                        <td>5</td>
                        <td>3</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Число полученных отзывов</td>
                        <td>95</td>
                        <td>90</td>
                        <td>80</td>
                        <td>78</td>
                    </tr>
                    <tr>
                        <td>Итог</td>
                        <td>317,8</td>
                        <td>299,96</td>
                        <td>287,7</td>
                        <td>286,5</td>
                    </tr>
                </tbody>
            </table>
            
            <div class="raschet">
                <a  class="redact_gr">Выгрузить в Exel</a>
            </div>

{% endblock content %}

{% block footer %}

          <div class="image-container">
          <a href="{% url 'admin_main' %}">
            <img src="{% static 'backend/img/Pers-act.svg' %}" alt="Первая" class="responsive-image">
          </a>
          <a href="{% url 'home_def' %}">
            <img src="{% static 'backend/img/home-def.svg' %}" alt="Вторая" class="responsive-image">
          </a>
          <a href="{% url 'statistics_def' %}">
            <img src="{% static 'backend/img/statistics-def.svg' %}" alt="Третья" class="responsive-image">
          </a>
          <a href="{% url 'admin_statistics' %}">
            <img src="{% static 'backend/img/rating-def.svg' %}" alt="Четвертая" class="responsive-image">
          </a>
        </div>

{% endblock footer %}
