{% extends 'backend/user/layout.html' %}
{% load static %}

{% block styles %}
      <link rel="stylesheet" href="{% static 'backend/css/admin/style.css' %}">
{% endblock styles %}

{% block title %}
  Стимулирование педагогов
{% endblock title %}


{% block header %}
  Стимулирование педагогов
{% endblock header %}


{% block scripts %}
{% endblock scripts %}

{% block content %}

            <div class="raschet">
                <a href="edit-groups.html" class="redact_gr">Редактировать группы</a>
            </div>
            <div class="raschet">
                <a href="редактировать-критерии.html" class="redact_gr">Редактировать критерии</a>
            </div>
            <div class="raschet">
                <a href="общая-таблица.html" class="redact_gr">Общая таблица</a>
            </div>
            <div class="raschet">
                <a href="new-period.html" class="redact_gr">Открыть новый период</a>
            </div>

{% endblock content %}

{% block footer %}
  
          <div class="image-container">
          <a href="pers-act.html">
            <img src="{% static 'backend/img/Pers-act.svg' %}" alt="Первая" class="responsive-image">
          </a>
          <a href="home-def.html">
            <img src="{% static 'backend/img/home-def.svg' %}" alt="Вторая" class="responsive-image">
          </a>
          <a href="статистика.html">
            <img src="{% static 'backend/img/statistics-def.svg' %}" alt="Третья" class="responsive-image">
          </a>
          <a href="рейтинг.html">
            <img src="{% static 'backend/img/rating-def.svg' %}" alt="Четвертая" class="responsive-image">
          </a>
        </div>

{% endblock footer %}
  
